---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";
import ComputerIcon from "../assets/computer.svg";
import BackgroundShader from "../components/BackgroundShader.tsx";
import BackgroundWave from "../components/BackgroundWave.tsx";
import { Image } from "astro:assets";
import JetsonNano from "../assets/jetson-nano.png";
import AMDVision from "../assets/amd-vision.png";
import AMDRobotics from "../assets/amd-robotics.png";
import Tenstorrent from "../assets/tenstorrent.png";
import Camera from "../assets/camera.png";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="h-screen">
    <Welcome />
  </div>
  <div class="px-4 md:px-16 pt-16 pb-8 max-w-4xl mx-auto">
    <div class="rounded-lg bg-amber-50 p-8">
      <h2 class="text-3xl font-medium font-logo mb-2">About</h2>
      <p class="max-w-prose text-lg mb-8">
        At Thinkin' Rocks, we want to build and maintain the infrastructure our community needs. We provide access
        to high-end computational & GPU servers, robotics equipment, sensors,
        fabrication tools, and shared collaborative spaces.
      </p>
      <p class="max-w-prose text-lg">
        Through build sessions, workshops, and public events, we're creating an
        ecosystem of deep research, automation, and open-source software. We
        support innovation, education, and community-led projects that shape our
        technological future. You can already join our discord channel and subscribe to our email list to follow updates.
      </p>
    </div>
  </div>
  <div class="px-4 md:px-16 py-8 max-w-4xl mx-auto">
    <Timeline />
  </div>
  <div class="py-8 relative">
    <div class="max-w-4xl mx-auto px-4 md:px-16">
      <h2 class="text-4xl font-medium font-logo mb-8 text-center">
        Available Equipment
      </h2>
    </div>
    <div
      class="snap-x snap-mandatory px-4 flex gap-4 overflow-x-auto scrollbar-hide [&_div]:w-[calc(100vw-4rem)] [&_div]:md:w-[400px] [&_div]:flex-shrink-0 [&_div]:rounded-lg"
    >
      <div class="bg-orange-50 p-8 snap-center">
        <Image
          src={JetsonNano}
          width={200}
          height={200}
          quality="low"
          alt="NVIDIA Jetson Orin Nano Super Board"
          class="w-full aspect-[2/1] object-contain object-left mb-8"
          priority
        />
        <h3 class="text-2xl font-medium font-logo mb-2">
          NVIDIA Jetson Orin Nano Super
        </h3>
        <p>
          Small, powerful computer that can be used for a variety of tasks,
          including machine learning, computer vision, and robotics. Good for
          beginners coming from Raspberry Pi.
        </p>
      </div>
      <div class="bg-red-50 p-8 snap-center">
        <Image
          src={AMDRobotics}
          width={200}
          height={200}
          quality="low"
          alt="AMD Kria KR260 Robotics Board"
          class="w-1/2 aspect-square object-contain mb-8"
          priority
        />
        <h3 class="text-2xl font-medium font-logo mb-2">
          AMD Kria KR260 Robotics
        </h3>
        <p>
          Built for robotics and industrial applications, it combines high-
          performance interfaces, native ROS 2 support, and integrated FPGA
          fabric, enabling roboticists and embedded developers to build adaptive
          hardware solutions with ease.
        </p>
      </div>
      <div class="bg-red-50 p-8 snap-center">
        <Image
          src={AMDVision}
          width={200}
          height={200}
          quality="low"
          alt="AMD Kria KV260 Vision Board"
          class="w-1/2 aspect-square object-contain mb-8"
          priority
        />
        <h3 class="text-2xl font-medium font-logo mb-2">
          AMD Kria KV260 Vision
        </h3>
        <p>
          Designed for advanced vision applications, it combines powerful
          processing with integrated FPGA fabric, making it ideal for
          prototyping smart city, machine vision, security, retail analytics,
          and industrial solutions.
        </p>
      </div>
      <div class="bg-cyan-50 p-8 snap-center">
        <Image
          src={Tenstorrent}
          width={350}
          height={200}
          quality="low"
          alt="Tenstorrent Blackhole™ p100a Graphics Card"
          class="w-full aspect-[2/1] object-contain object-left mb-8"
        />
        <h3 class="text-2xl font-medium font-logo mb-2">
          Tenstorrent Blackhole™ p100a
        </h3>
        <p>
          PCIe board designed for high performance AI processing featuring 16
          big RISC-V cores and 28 GB of GDDR6 operating at up to 300W in an
          active-cooled form factor geared for desktop workstations. Supported
          by Tenstorrent's fully open source software stack.
        </p>
      </div>
      <div class="bg-green-50 p-8 snap-center">
        <Image
          src={Camera}
          width={350}
          height={200}
          quality="low"
          alt="OAK-D Pro Camera"
          class="w-full aspect-[2/1] object-contain object-left mb-8"
        />
        <h3 class="text-2xl font-medium font-logo mb-2">OAK-D Pro</h3>
        <p>
          Camera equipped with IR illumination and an on-device Neural Network
          inferencing and Computer Vision capabilities. Good for applications
          that require high-quality and reliable stereo depth perception in any
          kind of environment.
        </p>
      </div>
    </div>
    <!-- Left gradient -->
    <div
      class="absolute hidden md:block left-0 top-0 bottom-0 w-16 bg-gradient-to-r from-white to-transparent pointer-events-none z-10"
    >
    </div>
    <!-- Right gradient -->
    <div
      class="absolute hidden md:block right-0 top-0 bottom-0 w-16 bg-gradient-to-l from-white to-transparent pointer-events-none z-10"
    >
    </div>
  </div>
  <div class="relative">
    <BackgroundWave client:load />
    <div class="relative px-4 md:px-16 py-16 max-w-4xl mx-auto z-10">
      <div class="relative w-full h-full flex flex-col justify-center p-4">
        <p class="text-base text-center md:text-xl font-medium font-logo z-20">
          for questions and partnerships, <br />contact at
          <a
            href="mailto:milana.begantsova@aaltoes.com"
            class="text-amber-600 underline"
          >
            milana.begantsova@aaltoes.com
          </a>
        </p>
      </div>
    </div>
  </div>
</Layout>
